@model PagedList.IPagedList<WebAppYte.DAO.LichKham>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var u = Session["user"] as WebAppYte.Models.BenhNhan;
}
<style type="text/css">
    .imgavt {
        margin-right: 15px;
    }
</style>

<div id="nivoslider" class="slides nivoSlider">

    <div class="nivo-directionNav"><a class="nivo-prevNav">Prev</a><a class="nivo-nextNav">Next</a></div>
    <div class="nivo-slice" name="0" style="left: 0px; width: 1530px; height: 160px; opacity: 1; overflow: hidden;">
        <div class="col-sm-12" style="position:absolute; width:1519px; height:auto; display:block !important; top:180px; left:200px;">
            <nav aria-label="breadcrumbs" class="rank-math-breadcrumb"><p><a href="/Home/Index">TRANG CHỦ</a><span class="separator"> &gt; </span><span class="last">LỊCH HẸN</span></p></nav>
        </div>

    </div>
</div>
<h2>Lịch khám của bạn</h2>
<h4><i> Chú ý : Thời gian tư vấn tối đa cho mỗi lần tư vấn là : 40 phút</i></h4>



<div>
    <button class="btn-warning">
        <b>@Html.ActionLink("Đặt mới", "Create")</b>
    </button>
    <button class="btn-default">
        <a href="@Url.Action("Dangxuly", "LichKham", new { id = u.mabn })">Đang xác nhận</a>
    </button>
    <button class="btn-default">
        <a href="@Url.Action("Daxacnhan", "LichKham", new { id = u.mabn})">Đã xác nhận</a>
    </button>
    <button class="btn-default">
        <a href="@Url.Action("Datuvanxong", "LichKham", new { id = u.mabn })">Đã xong</a>
    </button>
   
</div>
<br />
<hr />
<div style="float:left">
    <div class="col-md-8">


        @foreach (var item in Model)
        {
            <img class="imgavt" src="~/images/images/avatar.jpg" width="190" height="190" style="float:left" />

            <b>Người đặt lịch: @item.tenbn</b>
            <h4>Bác sĩ tư vấn: @item.hoten</h4>
            <h4>Ngày hẹn: @item.ngaykham.ToString("dd/MM/yyyy") </h4>
            <h4>Ca khám: @item.ca </h4>
            <h4>Lý do : @item.mota</h4>

            {
                if (@item.trangthai == 0)
                {
                    <h5 style="color:blueviolet"> Đang chờ xác nhận. </h5>
                  
                    <button>
                        @Html.ActionLink("Xóa lịch", "Delete", new { id = item.madat})
                    </button>
                    <hr />
                }
                else if (@item.trangthai == 1)
                {
                    <h5 style="color:red"> Đã xác nhận lịch </h5>
                   
                    <button>
                        @Html.ActionLink("Xóa lịch", "Delete", new { id = item.madat})
                    </button>
                    <hr />
               
                }
                else if (@item.trangthai == 2)
                {
                    <h5 style="color:red"> Đã tư vấn xong. </h5>
                 

                }
                else
                {
                    <h5 style="color:red"> Lỗi </h5>
                }

            }
        }
        <br />
        <hr />
    </div>

    <div class="col-md-4">
        <h4> Tư vấn qua zoom</h4>
        <img src="~/images/images/zoom.png" class="img-responsive" />
    </div>
    <hr />
</div>



<br />
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",  new { page }))
