
@model WebAppYte.Models.DanhGia

<script src="~/Common/ckeditor/ckeditor.js"></script>
<script src="~/Common/ckfinder/ckfinder.js"></script>
<script src="~/Scripts/jquery-3.4.1.slim.js"></script>

@{ ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="nivoslider" class="slides nivoSlider">

    <div class="nivo-directionNav"><a class="nivo-prevNav">Prev</a><a class="nivo-nextNav">Next</a></div>
    <div class="nivo-slice" name="0" style="left: 0px; width: 1530px; height: 160px; opacity: 1; overflow: hidden;">
        <div class="col-sm-12" style="position:absolute; width:1519px; height:auto; display:block !important; top:165px; left:170px;">

            <h2>Đánh giá</h2>
        </div>

    </div>

</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.mand, "Bác sĩ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text" value="@ViewBag.mand" id="bacsi" name="bacsi" style="border:1px solid #ccc;width:500px; height:35px;" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.noidung, "Nội dung", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <textarea cols="20" htmlattributes="{ class = form-control }" id="noidung" name="noidung" rows="2" style="width: 100%; color:black; max-width: 500px;"></textarea>
            <span class="field-validation-valid text-danger" data-valmsg-for="noidung" data-valmsg-replace="true"></span>
        </div>

    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>}

<script language="javascrip" type="text/javascript">
    $(function () {
        $("#chonDuongDanAnh").click(function () {
            var ckfiner = new CKFinder();
            ckfiner.selectActionFunction = function (fileUrl) {
                $("#Hinhanh").val(fileUrl);
            };
            ckfiner.popup();
        })
    });


    var ckeditor;
    function createEditor(languageCode, id) {
        var editor = CKEDITOR.replace(id, { language: languageCode });
    }
    $(function () { createEditor('vi', 'noidung') });</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

