@model WebAppYte.Models.BenhNhan
@{ ViewBag.Title = "Details";
                Layout = "~/Areas/Admin/Views/Shared/_LayoutAd.cshtml"; }

<h2>Details</h2>

<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên bệnh nhân
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenbn)
        </dd>

        <dt>
            SĐT
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdt)
        </dd>

        <dt>
          Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
           Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diachi)
        </dd>

        <dt>
          Ngày sinh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaysinh)
        </dd>

        <dt>
           Giới tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gioitinh)
        </dd>

        <dt>
           Tên đăng nhập
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tendn)
        </dd>

        <dt>
            Mật khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mk)
        </dd>

      

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.mabn }) |
    @Html.ActionLink("Back to List", "Index")
</p>
