@model PagedList.IPagedList<WebAppYte.Models.HoiDap>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Traloicauhoi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="nivoslider" class="slides nivoSlider">

    <div class="nivo-directionNav"><a class="nivo-prevNav">Prev</a><a class="nivo-nextNav">Next</a></div>
    <div class="nivo-slice" name="0" style="left: 0px; width: 1530px; height: 160px; opacity: 1; overflow: hidden;">
        <div class="col-sm-12" style="position:absolute; width:1519px; height:auto; display:block !important; top:165px; left:170px;">

            <h2>Câu hỏi chưa trả lời</h2>
        </div>

    </div>

</div>
<table class="table table-bordered">
    <tr>
        <th>
            Người hỏi
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.QuanTri.TaiKhoan)
            </th>*@
        <th>
            Câu hỏi
        </th>
        
        <th>
            Ngày gửi
        </th>
      
        <th>
            Trạng thái
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BenhNhan.tenbn)
           
            <td>
                @Html.DisplayFor(modelItem => item.hoi)
            </td>
           
            <td>
                @item.ngayhoi.Value.ToString("dd/MM/yyyy")
            </td>
          
            <td>
                @{
                    if (item.trangthai == 0)
                    {
                        <h5 style="color:red">Chưa trả lời</h5>
                    }
                    if (item.trangthai == 1)
                    {
                        <h5 style="color:red">Đã trả lời</h5>
                    }
                 }
                    </td>
            <td>
                <button>
                    @Html.ActionLink("Trả lời ngay ", "Traloicauhoi", new { id = item.ma })
                </button>       
            </td>
        </tr>
    }

</table>
<br />
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("listAll",
        new { page }))
