@model WebAppYte.Models.HoiDap


@{ ViewBag.Title = "Traloicauhoi";
                Layout = "~/Views/Shared/_Layout.cshtml";
                var i = Model.mabn; }

<div id="nivoslider" class="slides nivoSlider">

    <div class="nivo-directionNav"><a class="nivo-prevNav">Prev</a><a class="nivo-nextNav">Next</a></div>
    <div class="nivo-slice" name="0" style="left: 0px; width: 1530px; height: 160px; opacity: 1; overflow: hidden;">
        <div class="col-sm-12" style="position:absolute; width:1519px; height:auto; display:block !important; top:165px; left:170px;">

            <h2>Trả lời câu hỏi</h2>
        </div>

    </div>

</div>



@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ma)

                    <div class="form-group">
                        @Html.LabelFor(model => model.hoi,"Câu hỏi", htmlAttributes: new { @class = "control-label col-md-2" })
                        @*<h4 class="text-primary">: " @Model.CauHoi "</h4>*@
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.hoi, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.hoi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.dap,"Trả lời", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <textarea cols="70" htmlAttributes="{ class = form-control }" id="dap" name="dap" rows="10"></textarea>
                            @Html.ValidationMessageFor(model => model.dap, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.mabn, "Người  hỏi", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @*<select class="form-control" id="IDNguoiDung" name="IDNguoiDung">
                                    <option value="@Model.IDNguoiDung">ViewBag.IDNguoiDung</option>
                                </select>*@
                            @Html.DropDownList("mabn", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.mabn, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.IDQuanTri, "IDQuanTri", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("IDQuanTri", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IDQuanTri, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                    <div class="form-group">
                        @Html.LabelFor(model => model.ngayhoi,"Ngày hỏi", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ngayhoi, null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.ngayhoi, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    @*<div class="form-group">
                            @Html.LabelFor(model => model.TrangThai, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TrangThai, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Trả lời" class="btn btn-success" />
                        </div>
                    </div>
                </div>}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
