
@using WebAppYte.DAO;
@using PagedList.Mvc;
@using PagedList;
@model PagedList.PagedList<TTNguoiDung>

@{ ViewBag.Title = "ChuyenGiaBacSi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var u = Session["userBS"] as WebAppYte.DAO.TTNguoiDung; }


<style type="text/css">
    /*    td {
        text-align: center
    }*/

    th {
        text-align: center
    }

    .tenBV {
        color: orangered;
        font-size: x-large
    }
</style>



<div id="nivoslider" class="slides nivoSlider">

    <div class="nivo-directionNav"><a class="nivo-prevNav">Prev</a><a class="nivo-nextNav">Next</a></div>
    <div class="nivo-slice" name="0" style="left: 0px; width: 1530px; height: 515px; opacity: 1; overflow: hidden;">
        <div class="col-sm-12" style="position:absolute; width:1519px; height:auto; display:block !important; top:180px; left:200px;">
            <nav aria-label="breadcrumbs" class="rank-math-breadcrumb"><p><a href="/Home/Index">TRANG CHỦ</a><span class="separator"> &gt; </span><span class="last">CHUYÊN GIA - BÁC SĨ</span></p></nav>
        </div>
        <img src="~/images/images/banner-chuyen-gia-bac-si-desk.jpg" style="position:absolute; width:1519px; height:auto; display:block !important; top:210px; left:-0px;">
    </div>

</div>


<div class="text-center mt_15">
    <div class="box_search" style="top:30px;">
        <form method="post" action = "/ChuyenGiaBacSi/Search">
            <input type="text" placeholder="Tìm bác sĩ" class="form-control" value="@ViewBag.txt" name="id" style="top:30px;">
            <button type="submit" for="email" class="glyphicon glyphicon-search cl_head" rel="tooltip" title="search"></button>
        </form>
    </div>
</div>

<div class="text-center">
    <h1 class="div_head text-center cl_head text-uppercase font_hel sz_24 mb_25 pb_15" style="top:15px;">Chuyên gia - bác sĩ</h1>
</div>
<div class="filter_chuyengia mb_30">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center pb_15 mb_15">

                <button class="click_location btn bg_xam cl_33 text-uppercase active" data-gtm-vis-recent-on-screen-2545377_121="78" data-gtm-vis-first-on-screen-2545377_121="78" data-gtm-vis-total-visible-time-2545377_121="100" data-gtm-vis-has-fired-2545377_121="1" data-gtm-vis-recent-on-screen-2545377_155="82" data-gtm-vis-first-on-screen-2545377_155="82" data-gtm-vis-total-visible-time-2545377_155="100" data-gtm-vis-has-fired-2545377_155="1"><a href="@Url.Action("ChuyenGiaBacSi", "ChuyenGiaBacSi")">Toàn hệ thống</a></button>
                <button class="  click_location btn bg_xam cl_33 text-uppercase " data-gtm-vis-has-fired-2545377_121="1" data-gtm-vis-has-fired-2545377_155="1"> <a href="@Url.Action("TamAnhHaNoi", "ChuyenGiaBacSi")">Hà Nội</a></button>
                <button class="  click_location btn bg_xam cl_33 text-uppercase " data-gtm-vis-has-fired-2545377_121="1" data-gtm-vis-has-fired-2545377_155="1"><a href="@Url.Action("TamAnhDaNang", "ChuyenGiaBacSi")">Đà Nẵng</a></button>
                <button class="  click_location btn bg_xam cl_33 text-uppercase " data-gtm-vis-has-fired-2545377_121="1" data-gtm-vis-has-fired-2545377_155="1"><a href="@Url.Action("TamAnhSaiGon", "ChuyenGiaBacSi")">Sài Gòn</a></button>
                <script>
                    jQuery(document).ready(function () {
                        jQuery("label[data-location=\'35\']").trigger('click');
                        jQuery(".click_location").click(function () {
                            jQuery('body').addClass('load');
                            var location = jQuery(this).data('location');
                            jQuery('#filter_diadiem').val(location);
                            jQuery('#filter_form').submit();
                            jQuery(".click_location").removeClass('active');
                            jQuery(this).addClass('active');
                        });
                    });</script>
            </div>
          
            <div class="col-md-10 col-md-offset-1 col-md-12 col-xs-12" style="margin-left:29%;">
                <div class="row">
                  
                    @using (Html.BeginForm("ActionPostData", "ChuyenGiaBacSi", FormMethod.Post))
                    {
                        <div class="col-sm-3 col-xs-4 mb_10 filter_item">

                            <select id="filter" name="filter" onchange="this.form.submit()">
                                <option value="">CHUYÊN KHOA</option>
                                @foreach (var item in ViewBag.segmentList)
                                {

                                    if (item == ViewBag.filter)
                                    {
                                        <option value="@item" selected>@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item">@item</option>
                                    }
                                }

                            </select>

                        </div>



                        <div class="col-sm-3 col-xs-4 mb_10 filter_item">
                            <select id="tencv" name="tencv" onchange="this.form.submit()">
                                <option value="">CHỨC VỤ</option>
                                @foreach (var item in ViewBag.chucvu)
                                {

                                    if (item.Text == ViewBag.choose)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }

                                }

                            </select>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<div class=" ">
    <div class="container">
        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-xs-12  col-sm-12 item_post  mb_15 ">
                    <div class="row">
                        <div class="col-xs-6 col-sm-4 col-md-3 mb_15">
                            <a class="thumb_cgia" href="/Home/ChuyenGiaBacSi/@item.tendn">
                                <img class="img-responsive " loading="lazy" src="~/images/images/@item.anh">
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-8 col-md-9 ">
                            <div class="info_chuyengia">
                                <a title="@item.hoten">
                                    <h2 class="mt_0 mb_10 sz_18 cl_33" style="font-weight: bold;">@item.hoten</h2>
                                </a>
                                <div class="font_helI s" style=" font-style: italic;">
                                    <div class="sss">@item.chucvu</div><div>Bệnh viện Đa khoa Tâm Anh @item.tenchinhanh</div>
                                </div>
                                <div class="mt_10 hidden-xs">@item.gioithieu</div>
                                <div class="text-right mt_10 hidden-xs">
                                    <button class="" style="border: none;">
                                        <a class="cl_white bg_brand btn text-uppercase" href="@Url.Action("DatLichHen", "ChuyenGiaBacSi", new { id = item.mand})">CHI TIẾT</a>
                                    </button>

                                    
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="pagination-bar">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text"> Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) của @Model.PageCount</div>
            </div>

            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="pagination">
                    <ul class="page-list">
                        <li>@Html.PagedListPager(Model, page => Url.Action("ChuyenGiaBacSi", new { page, pageSize = 5 }))</li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

