@model IEnumerable<WebAppYte.Models.NguoiDung>

@{ ViewBag.Title = "Index";
                Layout = "~/Areas/Admin/Views/Shared/_LayoutAd.cshtml"; }
<br />
<h2>QUẢN LÝ BÁC SĨ</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            Họ tên
        </th>
        <th>
            Ngày sinh
        </th>
        <th>
            Giới tính
        </th>
        <th>
            SĐT
        </th>
        <th>
            Email
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Chức vụ
        </th>

        <th>
            Khoa
        </th>
        <th>
            Chi nhánh
        </th>
        <th>
            Tên đăng nhập
        </th>
        <th>
            Mật khẩu
        </th>
      
        <th>
            Ảnh
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @item.hoten
    </td>
    <td>
        @item.ngaysinh.Value.ToString("dd/MM/yyyy")
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.gioitinh)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.sdt)
    </td>
    <td>                  
        @Html.DisplayFor(modelItem => item.email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.diachi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.chucvu)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Khoa.tenkhoa)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ChiNhanh.diachi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tendn)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.mk)
    </td>
  
    <td>
        <img class="img-responsive " loading="lazy" src="~/images/images/@item.anh" style="width:150px;height:150px;">
    </td>

    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.mand }) |
        @Html.ActionLink("Details", "Details", new { id = item.mand }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.mand })
    </td>
</tr>}

</table>
