@model PagedList.IPagedList<WebAppYte.Models.HoiDap>
@using PagedList.Mvc;
@{ ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml"; }



<div id="nivoslider" class="slides nivoSlider">

    <div class="nivo-directionNav"><a class="nivo-prevNav">Prev</a><a class="nivo-nextNav">Next</a></div>
    <div class="nivo-slice" name="0" style="left: 0px; width: 1530px; height: 160px; opacity: 1; overflow: hidden;">
        <div class="col-sm-12" style="position:absolute; width:1519px; height:auto; display:block !important; top:165px; left:170px;">        
        </div>

    </div>

</div>
<h4 style="color:orangered"> <b>Câu hỏi của bạn</b> </h4>
<h4><button class="btn-default">@Html.ActionLink("Gửi câu hỏi mới", "Create", new { id = @ViewBag.id })</button></h4>
<hr />
<div class="col-md-8">
    @foreach (var item in Model)
    {
<i>Người gửi : <b>@item.BenhNhan.tenbn</b> &nbsp; <i class="fas fa-clock"></i>&nbsp;@item.ngaytl.Value.ToString("dd/MM/yyyy")</i>
                <h4 class="text-info">Câu hỏi:</h4>
                                <h5 class="text-primary">@Html.DisplayFor(modelItem => item.hoi)</h5>
                                                <h4 class="text-warning">Trả lời : </h4>
                                                                <h5 class="text-success"> @Html.DisplayFor(modelItem => item.dap)</h5>
                                                                                <hr />}
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page }))
</div>

<div class="col-md-4">
    <h3 style="color:red"> Bản đồ phân bố dịch</h3>
    <img src="~/images/images/bando.png" class="img-responsive" />

</div>


